useDynLib(adSplit)

import(methods)
importFrom(stats, cutree, kmeans)
importFrom(cluster, diana)
#importFrom(multtest, mt.rawp2adjp)

export(adSplit, diana2means, drawRandomPS, 
       randomDiana2means, makeLID2PROBESenv)

S3method(print, splitSet)
S3method(hist, splitSet)
S3method(image, splitSet)
S3method(print, split)

