useDynLib(adSplit)

import(methods)

importMethodsFrom(AnnotationDbi, Lkeys, Rkeys)
importMethodsFrom(Biobase, exprs)
importFrom(cluster, agnes, diana)
importFrom(graphics, axis, box, grid, hist, image, lines, mtext, par,
           plot, strwidth)
importFrom(grDevices, dev.off, postscript, X11)
importFrom(multtest, mt.rawp2adjp)
importFrom(stats, as.hclust, cutree, kmeans, var)
importFrom(GO.db, GOTERM)
# importFrom(KEGG.db, KEGGPATHID2NAME) # KEGG.db is not longer available

export(adSplit, diana2means, drawRandomPS, 
       randomDiana2means, makeEID2PROBESenv)

S3method(print, splitSet)
S3method(hist, splitSet)
S3method(image, splitSet)
S3method(print, split)
